<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/bezzad/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="bezzad" />
            <add key="ClearTextPassword" value="28fe144037e152895c005b4f1afa31c40e1822d7" />
        </github>
    </packageSourceCredentials>
</configuration>