<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/bezzad/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="bezzad" />
            <add key="ClearTextPassword" value="fe58c9958b4c3a90ebbea3539f5e0dbf1f17a133" />
        </github>
    </packageSourceCredentials>
</configuration>