<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="bezzad" />
      <add key="ClearTextPassword" value="18fb429f90637652acc6bf40681411a6df3b6866" />
    </github>
  </packageSourceCredentials>
</configuration>